
<h1>Welcome to Kelsey's Blog!</h1>

<div class="welcome">
  <p>This is a space where I write about stuff and recognize awesome things.</p>

  <strong><%= link_to 'VIEW POSTS', posts_path %></strong>  
</div>